


html{...} body {color: white; font-size: 32px; 
  display:grid;
   position: relative;
  line-height: 2.0;
   background-color: midnightblue; background-blend-mode: darken; 
    vertical-align: middle; text-align: center;
}
 
heading{background-color: black; background-size:contain;  display:grid; text-align: center}

   
<style> 



.container{font-family: monospace, fantasy; font-weight: bolder;}
h2{ color: red; background-clip: inherit; background-color: black; background-size:auto;}
a{color: white; background-clip: inherit;background-color: darkblue; background-size:auto; font-style: italic}
ul{text-align: justify}
h4{background-color: black}
h4 a{background-color: black; }

</style>