


html{...} body {color: white; font-size: 32px; 
  display:grid;
   position: relative;
  line-height: 2.0;
   background-color: midnightblue; background-blend-mode: darken; 
    vertical-align: middle; text-align: center;
}
 
heading{background-color: black; background-size:contain;  display:grid; text-align: center}

   
<style> 


::-webkit-scrollbar {
 width: 15px; 
}::-webkit-scrollbar-track {
      background-color: gray;
} ::-webkit-scrollbar-thumb {
      background-color: rgba(60, 80, 50, 35);
} -webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    height:20px;
    width:15px;

.container{font-family: monospace, fantasy; font-weight: bolder;}
h2{ color: red; background-clip: inherit; background-color: black; background-size:auto;}
a{color: white; background-clip: inherit;background-color: darkblue; background-size:auto; font-style: italic}
ul{text-align: justify}
h4{background-color: black}
h4 a{background-color: black; }

</style>